<div class="footer fixed">
    <div class="pull-right">
        <strong>Alps System</strong>
    </div>
    <div>
        <strong>Copyright</strong> Alps Electric (Malaysia) Sdn Bhd &copy; 2020
    </div>
</div>
