@using Microsoft.AspNet.Identity
<nav class="navbar-default navbar-static-side" style="position: fixed;height:100%;" role="navigation">
    <div class="fixed-sidebar" style="height:100%;">
        <ul class="nav" id="side-menus">
            <li class=" nav-header" style="height:50px; background: #367fa9;">
                <div>
                    <img src="~/Images/alpslogosmall1.png" />
                    @*<img src="~/Images/alpslogomenu.png" style="max-width:180px;padding-bottom:15px;max-height:170px;" />*@
                    <span style="max-height:100px;color:white;font-weight:900;font-size:14px;padding-bottom:115px">
                       
                    </span>
                </div>
                <div class="logo-element">
                    Alps
                </div>
            </li>
        </ul>
        <ul class="nav" id="side-menu" style="height:100%;padding-bottom:85px;overflow-x:auto">
            @{Html.RenderAction("_AlpsMenu", "Home", new { area = "" });}
            <li class="active">
                <a><span class="nav-label">&nbsp;</span></a>
                @*<ul class="collapse in">
            </ul>*@
            </li>
        </ul>
    </div>
</nav>
